# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
#	name = sauloxd
#	email = saulotoshi@gmail.com
[user]
	name = Sauloxd
	email = saulotoshi@gmail.com
[core]
	excludesfile = /Users/sauloxd/.gitignore_global
