#!/bin/bash
alias vv="nvim ~/.dotfiles/vim/init.vim"
alias aa="nvim ~/.dotfiles/aliases/.aliases"
alias ss="source ~/.dotfiles/terminal/.bash_profile"
alias v="nvim"
alias sandbox="cd ~/sandbox/"
alias grep='grep --color'
alias sgrep='grep -R -n -H -C 5 --exclude-dir={.git,.svn,CVS} '
alias h='history'
alias gblst='git branch --sort=committerdate'
alias gh="git log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all"
alias whatport='lsof -i :3000'
alias qr='node /Users/saulofuruta/QultureRocks/qr-cli/index.js'
alias killwebpack="taskkill //pid \`netstat -aon | grep 3000 | grep -P '(?<=LISTENING).*' -o | grep -P '\\d*' -o\` //f"
